<!DOCTYPE html>
<html lang="en">

<head>
  <title>Collaborative Python</title>
  <style>
    html,
    body {
      margin: 0px;
      padding: 0px;
      height: 100%;
    }

    .flexbox {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #chat-box {
      display: flex;
      flex-direction: column-reverse;
      border: 1px solid red;
      width: 300px;
      height: 300px;
      overflow-y:auto;
    }

    p {
      margin: 0;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript">
    var name = "Anonymous";
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    document.addEventListener("DOMContentLoaded", function () {

      // update the name based on input
      document.getElementById('nameForm').addEventListener('submit', function (e) {
        e.preventDefault();
        name = document.getElementById('name').value;
        socket.emit('join', {
          "name": name
        });
      });

      // when user sends message emit it
      document.getElementById('messageForm').addEventListener('submit', function (e) {
        e.preventDefault();
        let message = document.getElementById('message').value;
        socket.emit('send message', {
          "name": name,
          "message": message
        });
      });

      // someone has sent a message
      socket.on('server response', function (msg) {
        if (typeof msg.name !== 'undefined') {
          let message_holder = document.getElementById('chat-box');
          let p = document.createElement('p');
          p.style.color = "black";
          p.innerHTML = '<b style="color: #000">' + msg.name + '</b>: ' + msg.message;
          message_holder.prepend(p);
        }
      });

      // when a new user has joined add messages
      socket.on('joined', function (json) {
        let message_holder = document.getElementById('chat-box');
        let p = document.createElement('p');
        p.style.color = "black";
        p.innerHTML = '<b style="color: #000">' + json.name + '</b> ' + "has joined";
        message_holder.prepend(p);
      });
    });


  </script>
</head>

<body>
  <div class="flexbox">
    <h1>PacMan</h1>
    <form id="nameForm">
      <input placeholder="Enter Name" label="name" id="name" type="text" />
      <input label="Submit" type="submit" value="Set Name" />
    </form>

    <div id="chat-box">
      <p>Welcome to Pacman :)</p>
    </div>

    <form id="messageForm">
      <input type="text" class="message" id="message" placeholder="Messages" />
      <input type="submit" />
    </form>
  </div>
</body>

</html>